.job {
	margin: 100px 0;
	text-align: center;

	&__wrapper {
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 50px;
	}

	&-tax {
		text-decoration: none;
		color: #000000;
		text-align: center;
		position: relative;
		min-height: 300px;
		display: flex;
		align-items: flex-end;

		&__title {
			width: 100%;
			background: #c1bebe;
			padding: 10px 0;
		}

		&__bg {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: -1;
		}
	}
}

// taxonomy page

.tax-section {
	margin: 100px 0;
	h1 {
		text-align: center;
		font: 40px;
	}

	.row {
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 50px;
	}

	.single-item {
		&__image {
			display: block;
			width: 100%;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__content {
			padding: 20px;
			background: #c9c9c9;
		}
		&__title {
			display: block;
			color: #000000;
			text-align: center;
		}

		&__description {
			color: #000000;
			margin-top: 10px;
			text-align: center;
		}
		&__read-more {
			margin-top: 10px;
			display: block;
			text-align: center;
			text-decoration: none;
			color: #000000;
		}
	}
}
